<div class="todo-container">
  <h2>My ToDo List</h2>

  <div class="filters">
    <button (click)="filter = 'all'">All</button>
    <button (click)="filter = 'done'">Done</button>
    <button (click)="filter = 'undone'">Undone</button>
  </div>

  <input
  (keyup.enter)="addTask()" [(ngModel)]="newTask" placeholder="Add a new task" />
  <button (click)="addTask()">Add Task</button>

  <ul>
    <li *ngFor="let task of filteredTasks; let i = index">
      <p [class.done]="task.done">{{task.text}}</p>
      <div class="actions-wrap">
        <label class="checkbox-label" [for]="'checkbox-' + i">
          Done
          <input class="checkbox" type="checkbox" (change)="toggleDone()" [id]="'checkbox-' + i" [(ngModel)]="task.done">
        </label>
        <button class="delete" (click)="removeTask(i)">Delete</button>
      </div>
    </li>
  </ul>
</div>

