.todo-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

input {
  width: 95%;
  padding: 8px;
  margin-bottom: 20px;
}

input.checkbox {
  margin: 0;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

ul {
  padding: 0;
}

li {
  display: flex;
  overflow-wrap: break-word;
  max-width: 100%;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

p {
  font-size: 18px;
  margin: 0; 
  padding: 0;
  max-width: 50%;
}

.done {
  text-decoration: line-through;
  color: gray;
}

button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.delete {
  background-color: rgb(218, 40, 40);
}

button.delete:hover {
  background-color: rgb(228, 96, 96);
}

button:hover {
  background-color: #45a049;
}

.actions-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}
